<div class="lead"><h2><i class="small fa fa-tachometer"></i> {{ home.title }}</h2></div>

<div class="row">

  <a class="btn btn-default btn-sm">Create New Ticket</a>

</div>


<div class="row">

  <h3>open <small>most recent 15</small></h3>

  <table class="table table-hover table-condensed">
      <tr>
          <th>Description</th>
          <th>Category</th>
          <th>Sub Category</th>
          <th>Source</th>
          <th>Date</th>
          <th>Assigned</th>
          <th>Status</th>
      </tr>
  </table>

</div>

<div class="row">

  <h3>recently closed</h3>

  <table class="table table-hover table-condensed">
      <tr>
          <th>Description</th>
          <th>Category</th>
          <th>Sub Category</th>
          <th>Source</th>
          <th>Date</th>
          <th>Assigned</th>
          <th>Status</th>
      </tr>
  </table>

</div>
