<form ng-submit="me.meChangePassword()" name="changePassword" novalidate="" autocomplete="off">
  <h3>Change Password</h3>

  <div class="control-group">
    <!-- Current-->
    <label class="control-label" for="password">Password</label>
    <div class="controls">
      <input type="password" id="password" name="password" placeholder="currentpassword" class="form-control"  ng-model="me.passwordData.currentPassword" required>
    </div>
    <!-- Password-->
    <label class="control-label" for="password">Password</label>
    <div class="controls">
      <input type="password" id="password" name="password" placeholder="new password" class="form-control"  ng-model="me.passwordData.password" required>
    </div>
    <label class="control-label" for="password">Confirm Password</label>
    <div class="controls">
      <input type="password" id="confirmPassword" name="confirmPassword" placeholder="confirm new password" class="form-control"  ng-model="me.passwordData.confirmPassword" same-as="me.passwordData.password" required>
      <p class="control-label text-danger" ng-show="changePassword.confirmPassword.$dirty && changePassword.confirmPassword.$invalid">please ensure passwords match</p>
    </div>
  </div>
  <br />
  <div class="control-group">
    <div class="controls">
      <button class="btn btn-default btn-block" ng-disabled="changePassword.$invalid">
        <span ng-if="me.password.processing"><i class="fa fa-spin fa-circle-o-notch"></i></span>
        <span ng-if="!me.password.processing">Change Password</span>
      </button>
    </div>
  </div>

  <div style="margin-top: 20px;" class="alert alert-{{ alert.type }} animate main-alert" ng-class="{ 'fadeIn': alert.show, 'fadeOut': !alert.hide, 'alert-hidden':!alert.hasBeenShown }">
      <strong>{{ alert.title }}</strong>
      {{ alert.message }}
  </div>
</form>
