<h3>Lost & Found Item</h3>

<form ng-submit="item.save()" name="createItem" novalidate="" autocomplete="off" class="animated fadeInUp">
        
    <div class="row">

        <div class="control-group col-xs-6">
            <label class="control-label" for="description">Date Entered</label>
            <div class="controls">
                <p ng-hide="!item.item.dateIn">{{ item.item.dateIn | date:'fullDate' }}</p>
                <p ng-show="!item.item.dateIn">Auto populated on creation</p>
            </div>
        </div>

        <div class="control-group col-xs-6">
            <label class="control-label" for="description">Date Closed</label>
            <div class="controls">
                <p ng-hide="!item.item.dateOut">{{ item.item.dateOut | date:'fullDate' }}</p>
                <p ng-show="!item.item.dateOut">Auto populated on status of 'Returned to Owner'</p>                
            </div>
        </div>

    </div>



    <div class="control-group">
    <!-- Name -->
    <label class="control-label" for="name">Item Name</label>
    <div class="controls">
        <input type="text" ng-model="item.item.itemName" class="form-control" id="name" name="name" placeholder="Item Name" required>
    </div>
    </div>

    <!-- Description -->

    <div class="control-group">
        <label class="control-label" for="description">Item Description</label>
        <div class="controls">
        <input type="text" class="form-control" id="description" name="description" placeholder="Description" ng-model="item.item.description" required>
        </div>
    </div>

    <!-- Contact Deets -->
    <div class="row">

    
        <div class="control-group col-xs-4">
            <label class="control-label" for="description">Contact Name</label>
            <div class="controls">
            <input type="text" class="form-control" id="name" name="name" placeholder="Description" ng-model="item.item.contactName" required>
            </div>
        </div>

        <div class="control-group col-xs-4">
                <label class="control-label" for="description">Contact Number</label>
            <div class="controls">
            <input type="text" class="form-control" id="contactNumber" name="contactNumber" placeholder="Contact Number" ng-model="item.item.contactNumber" required>
            </div>
        </div>

        <div class="control-group col-xs-4">
                <label class="control-label" for="description">Contact Email</label>
            <div class="controls">
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" ng-model="item.item.contactEmail">
            </div>
        </div>

    </div>


    <!-- Addition info -->
    <div class="row">
                
        <div class="control-group col-xs-3">
            
            <label class="control-label" for="description">Category</label>
                
            <select class="form-control" ng-model="item.item.category" placeholder="Category" 
                ng-options="category.id as category.name for category in item.properties.categories" 
                ng-change="item.setSubcategories(item.item.category)"
                required>
            </select>

        </div>

        <div class="control-group col-xs-3">

            <label class="control-label" for="description">Subcategory</label>
                
            <select class="form-control" ng-model="item.item.subcategory" placeholder="Subcategory" 
                ng-options="subcategory.id as subcategory.name for subcategory in item.subcategories">
            </select>

        </div>

        <div class="control-group col-xs-3">
                <label class="control-label" for="description">Status</label>
                
            <select class="form-control" ng-model="item.item.status" placeholder="status"
                ng-options="status.id as status.name for status in item.properties.statuses" required>
            </select>
        </div>

        <div class="control-group col-xs-3">
                <label class="control-label" for="description">Location</label>
                
            <select class="form-control" ng-model="item.item.location" placeholder="location"
                ng-options="location.id as location.name for location in item.properties.locations" required>
            </select>
        </div>

    </div>


            


    


    <br /><br />
    <div class="control-group">
    <div class="controls">
        <button class="btn btn-success btn-block" ng-disabled="createItem.$invalid" >
            <span ng-if="!item.item.id">Create</span>
            <span ng-if="item.item.id">Save</span>
        </button>
        <br />
        
    </div>
        <!-- <h3>Dangerzone</h3>
        <button class="btn btn-danger btn-block" ng-if="item.item.id" ng-click="item.delete()">
            <span>Delete</span>
        </button> -->
    </div>

</form>