<h3>Lost & Found locations</h3>

<a class="btn btn-xs btn-primary" ui-sref="lostandfound.settings.location">Add New Location</a>


<br /><br />
<div class="row" ng-hide="locations.items.length == 0">
    
    <div class="col-sm-12 no-padding-left">


        <table class="table table-condensed table-hover animated fadeILeft">
                
            <tr>

                <th>name</th>

            </tr>

            <tr ng-repeat="location in locations.items">

                <td><a ui-sref="lostandfound.settings.location({ id: location.id })">{{ location.name }}</a></td>
                
            </tr>
        
        </table>
    </div>

</div>




        