<!DOCTYPE html>
<html ng-app="app" ng-cloak>
<head>
  <title>Blondie</title>
  <!-- vendorInject:css -->
  <!-- endinject -->

  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="mainController as main">

    <div ng-include src="'/views/partials/partial.mainmenu.html'" ng-if="main.loggedIn"></div>

    <div class="container site-body ui-view-container" ng-if="main.loggedIn">

      <a class="btn btn-success btn-md" ui-sref='tickets.quick'><i class="fa fa-rocket"></i> Quick Ticket </a>
      <a class="btn btn-success btn-md" ui-sref='tickets.create'><i class="fa fa-ticket"></i> Create Full Ticket </a>

      <!-- UI STATE DIRECTIVE -->
      <div ui-view>

      </div>


    </div><!-- /.container -->

    <div ng-if="!main.loggedIn" ng-include src="'/views/partials/partial.signin.html'"></div>

  <!-- vendorInject:js -->
  <!-- endinject -->

  <!-- inject:js -->
  <!-- endinject -->
</body>
</html>
