
<div class="animated fadeInUp">
  <a ui-sref="tickets.create" class="btn btn-default btn-sm">Create New Ticket</a>
  <br /><br />

<h3>All</h3>
  <table class="table table-hover table-condensed">
      <tr>
          <th>Title</th>
          <th>Category</th>
          <th>Sub Category</th>
          <th>Created By</th>
          <th>Last Updated</th>
      </tr>
      <tr ng-repeat="ticket in tickets.ticketData">
          <td><a ui-sref="tickets.view({id: ticket.id})">{{ticket.title | limitTo: 20}}</a></td>
          <td>{{ticket.Category}}</td>
          <td>{{ticket.SubCategory}}</td>
          <td>{{ticket.CreatedBy}}</td>
          <td>{{ticket.createdAt | date: 'fullDate'}}</td>

      </tr>
  </table>
</div>
