<div class="lead"><h2><i class="small fa fa-tachometer"></i> {{ home.title }}</h2></div>

<div class="row">

  <h3>open enquiries</h3>

  <table class="table table-hover table-condensed">
      <tr>
          <th>Description</th>
          <th>Category</th>
          <th>Sub Category</th>
          <th>Source</th>
          <th>Date</th>
          <th>Assigned</th>
          <th>Status</th>
      </tr>
      <tr>
          <td><a href="#">Unable to open Bring a Mate link</a></td>
          <td>Bring a Mate</td>
          <td>n/a</td>
          <td><span class="label label-default">email</span></td>
          <td>Wed 13th July</td>
          <td>Lucy Chapman</td>
          <td><span class="label label-success">open</span></td>
      </tr>
      <tr>
          <td><a href="#">Need order confirmation for booking</a></td>
          <td>Online Purchase</td>
          <td>Transaction Problem</td>
          <td><span class="label label-primary">phone</span></td>
          <td>Thu 14th July</td>
          <td>Karen Buckley</td>
          <td><span class="label label-success">open</span></td>
      </tr>
  </table>

</div>
